fastapi>=0.111.0
uvicorn>=0.30.1
transformers>=4.41.2
torch>=2.6.0
pillow>=10.3.0
python-multipart>=0.0.9
python-dotenv>=1.0.1

requests
rembg>=2.0.50
onnxruntime>=1.17.0
pokebase>=1.4.1
numpy
opencv-python
google-genai>=2.10.0